
/* SMALLER THAN THIS WIDTH PIXELS */
/* WHEN HEADER GETS SMALLER */
/* SIZE MAYBE FOR LARGE TABLET OR SMALL LAPTOP */
@media (max-width: 1100px){
    .header-options {
        height: 8vh;
        background-color: white;
    }
    .header-options ul{
        width: 100%;
    }
    #header-title-top-left {
        margin-right: 0vw;
    }
    #header-title-top-left a{
        margin-bottom: 45vw;
        font-size: 1.3rem;
    }
    #HideOnMobile {
        display: none;
    }
    #Menu-button {
        display: block !important;
        margin-left: auto;
        margin-right: 7vh;
    }


    .main-body {
        margin: 0;
        height: 37rem;
    }
    .main-inner-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-body-title {
        font-size: 8em;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        text-align: center;
    }
    .main-body-title h3 {
        font-size: 2.2rem;
    }
    .main-body-description {
        font-size: 1em;
        width: 60%;
    }
    .input-box {
        width: 75%;
        border-radius: 95px;
        padding: 0;
    }
    .input-box input {
        width: 100%;
        padding-left: 2rem;
        border-radius: 55px;
        font-size: 1.3em;
    }
    .main-body-strength-level-reccomendations {
        font-size: 1.3em;
        height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .extra-info-reccomendations {
        margin: 0;
        display: flex;
        justify-content: center;
        height: 200rem;
    }
    .extra-info-reccomendations-inner-box {
        width: 90%;
        margin: 0;
    }
    .reccomendations-title {
        font-size: 1.8em;     
    }
    .reccomendations-p {
        font-size: 1rem;
    }
    .reccomendations-list {
        margin-top: 4rem;
    }
    .list-item {
        height: 20rem;
        font-size: 1em;
    }
}



/* SMALLER THAN THIS WIDTH PIXELS */
/*   PHONE SCREEN SIZE (IPHONE)   */
@media (max-width: 500px){
    .header-options {
        height: 8vh;
        background-color: white;
    }
    .header-options ul{
        width: 100%;
    }
    #header-title-top-left {
        margin-right: 0vw;
    }
    #header-title-top-left a{
        margin-bottom: 45vw;
        font-size: 1.3rem;
    }
    #HideOnMobile {
        display: none;
    }
    #Menu-button {
        display: block !important;
        margin-left: 10vh;
        margin-right: 1vh;
    }



    .main-body {
        margin: 0;
        width: 100%;
    }
    .main-inner-body {
        width: 100%;
        display: flex;
        flex-direction: center;
        justify-content: center;
    }
    
    .main-body-title {
        display: flex;
        flex-direction: center;
        justify-content: center;
        margin-top: 2rem;

    }
    .main-body-title h3{
        font-size: 2.3rem;
        margin: 0;
        width: 80%;
    }
    .main-body-description {
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-size: 0.8rem;
        width: 80%;
    }
    .input-box {
        width: 95%;
        display: flex;
        justify-content: center;
    }
    #main-body-user-input-input {
        width: 95%;
        height: 3rem;
        font-size: 0.7rem;
    }
    .main-body-strength-level-reccomendations {
        display: flex;
        align-items: center;
        height: 4rem;
        font-size: 0.7rem;
    }



    .extra-info-reccomendations {
        width: 100%;
        height: 185rem;
    }
    .extra-info-reccomendations-inner-box {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reccomendations-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1rem;
        width: 80%;
    }
    .reccomendations-p {
        font-size: 0.7rem;
        text-align: center;
        width: 90%;
    }

    .recomendations-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
    }
    #first-rec,
    #second-rec, 
    #third-rec,
    #fourth-rec,
    #fifth-rec,
    #sixth-rec,
    #seventh-rec,
    #eighth-rec {
        margin: 0;
        width: 80%;
        height: 20rem;
    }



    .footer-section {
        height: 37rem;
    }
    .inner-footer-section {
        height: 100%;
    }
    .footer-header-top-left {
        margin-top: 5vh;
    }
    .footer-info {
        display: flex;
        flex-direction: column;
        height: 30rem;
        margin-top: 2vh;
    }
    .company-info {
        width: 10rem;
        height: 8rem;
        margin-top: 0;
        padding: 0;
    }
    .products-info {
        width: 15rem;
        height: 7rem;
        margin-top: 0;
        padding: 0;
    }
    .privacy-info {
        width: 9rem;
        height: 7rem;
        margin-top: 0;
        padding: 0;
    }
    .social-media-info {
        width: 100%;
        height: 7rem;
        margin-top: 3vh;
    }



    .about-us-section {
        width: 100%;
        margin: 0;
    }
    .about-us-title {
        display: flex;
        text-align: center;
    }
    .about-us-tiles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 2rem;
    }
    .mission,
    .who-we-are,
    .what-we-offer,
    .why-it-matters, 
    .future-goals {
        margin: 0;
        width: 65%;
        height: 25rem;
    }


    .accessibility-statement-box {
        margin: 0;
        height: 65rem;
    }
    .accessibility-statement-title {
        font-size: 1rem;
        margin-bottom: 3rem;
    }
    .accessibility-statement-p {
        font-size: 0.7rem;
    }

    
    .inner-footer-section .social-media-info {
        display: flex;
        align-items: center;
    }
    .inner-company-info,
    .inner-products-info,
    .inner-privacy-info {
        width: 100%;
    }

    .company-info-ulist,
    .products-info-ulist, 
    .privacy-info-ulist {
        width: 70%;
    }
    .company-info-ulist li,
    .products-info-ulist li, 
    .privacy-info-ulist li {
        font-size: 0.7rem;
        width: 100%;
    }

    
    .inner-social-media-info{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 8rem;
    }
    .social-media-info-header {
        height: 3rem;
    }
    .social-media-ulist {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 12vw;
        margin-left: -5vw;
    }
    .social-media-ulist li a svg {
        width: 5vh;
    }


    .bottom-underline-dash-footer {
        margin-top: 2vh;
        margin-bottom: 1vh;
    }


    .rights-reserved-section {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .right-reserved-header h5{
        display: flex;
        justify-content: center;
        font-size: 2.4vw;
    }
}